<h1 class="index_title">All Posts</h1>

<% @post.each do |post| %>
<h2 class="title_index"><%= link_to post.title,post %></h2>
<p class="date">Submitted <%= time_ago_in_words(post.created_at) %>  ago</p>
<% if user_signed_in? %>
<p><%= link_to 'Delete', post_path(post),method: :delete,data: {confirm: 'Are you sure' },class: 'button'%></p>
<% end %>
<% end %>

<%= will_paginate @post %>
